body {
  background: black;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  color: #6c757d;
}
header
{
  top: 0;
  width: 100%;
  margin: none;
  padding: none;
  background-color: #00183f;
}

h1,h2
{
	color: red;
  font-family: sans-serif;
}

footer
{
  margin: none;
  padding: 10px;
  background-color: #00183f;
  bottom: 0;
  position: absolute;
  width: 100%;
}
